@{
    ViewBag.Title = "About Superheroes, Inc";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our mission is to privde protection against villains and educate our community about safety. We hope to develop a community of pro-active citizens who are vigilant in keeping streets safe through knowledge and awareness.</p>
