@{
    ViewBag.Title = "Superheroes Inc";
}

<div class="jumbotron">
    <h1>Mission Statement</h1>
    <p class="lead">Our mission is to provide protection against villains and educate our community about safety. We hope to develop a community of pro-active citizens who are vigilant in keeping streets safe through knowledge and awareness.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Programs and Services</h2>
        <p>
            Super Heroes, Inc. is a dedicated group of heroes who strive to provide programs that emphasize growth through education, safety training, and challenges. We provide citizens of all ages with hands-on, interactive programs to encourage safety and respect for others.
        </p>
        <p><a href="@Url.Action("Index","Cours")" class="btn btn-primary">See our classes!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meet Our Personnel</h2>
        <p>Search our database of heroes, villains, anti-heroes, neutral actors, and people hated equally by everyone!</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index","Characters")">Meet Our People!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be A Part of Your Communities' Safety!</h2>
        <p>Contact us to learn how you can be a part of the solution.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Contact","Home")">Contact Us!</a></p>
    </div>
</div>